rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Seguridad: Cualquiera puede leer, solo permitimos escritura para la galería de actualización.
    match /products/{productId} {
      allow read: if true;
      allow write: if true; 
    }
  }
}
